{% extends "task21/base.html" %}


{% block title %}
    {{ Person }}
{% endblock %}


{% block content %}
    <h2>Person {{ person }}</h2>

    <form action="{% url 'person_edit' person_id=person.id %}" method="POST">
        {% csrf_token %}

        <p>
            <label>Измените имя</label><br>
            <input type="text" name="firstname" value="{{ person.firstname }}"/>
        </p>
        <p>
            <label>Измените фамилию</label><br>
            <input type="text" name="lastname" value="{{ person.lastname }}"/>
        </p>
        <p>
            <label>Измените возраст</label><br>
            <input type="text" name="age" value="{{ person.age }}"/>
        </p>
        <p>
            <label>Измените профессию</label><br>
            <input type="text" name="profession" value="{{ person.profession }}"/>
        </p>
        <input type="submit" value="Сохранить">
    </form>

{% endblock %}